/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "../stylesheets/admin/answer_form.scss";

/* Base */
:root {
  --color-primary: #f97316;
  --color-primary-dark: #c2410c;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-400: #9ca3af;
  --color-gray-600: #4b5563;
  --color-main-text: rgb(255 237 213);
}

body {
  background-color: var(--color-black);
  color: var(--color-main-text)
}
